.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.clear{
    clear:both;
}

a,button,.glyphicon{
	cursor: pointer;
}
.form-control::-moz-placeholder {
	color: #BBB;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #BBB;
}
.form-control::-webkit-input-placeholder {
	color: #BBB;
}
.form-control{
	color:#222;
}
.form-group{
    display: block;
    max-width: none;
}
.controls, .form-control{
    font-weight: normal;
}

.panel-heading a{
	color:#fff;
}

.timesheet{
    margin-bottom: 15px;
}

.timesheet .Sun, .timesheet .Sat{
	background: #f2dede;
}
.timesheet .Sun input, .timesheet .Sat input{
	color: #c9302c;
}

.timesheet input{
	font-weight: bold;
}
.timesheet > div{
	padding: 10px 6px;
	background: #dff0d8;
	margin: 0 1px 1px 0;
	height: 95px;
	text-align: center;
}

.Semi-Monthly > div{
	width: 60px;
}

.deleted{
    text-decoration:line-through;
}

.total{
	font-weight: bold;
	font-size: 38px;
	color:#c9302c;
	text-align: center;
}

.dropingFiles{
    outline: #72ff6d dotted thick;
}

.tsApproved{
	background: #dff0d8;
}

.tsNew, .tsSaved{
	background: #f2dede;
}
.tsReturned{
	background: #eee;
}
.tsReturnRequested{
	background: #d9edf7;
}

.tsSubmitted{
	background: #fcf8e3;
}

oi-timesheet-list .list-group-item{
	margin-bottom: 1px;
}

.fetchHoursBtn{
	margin-top: 50px;
}
.invoiceItems > div {
	padding-left: 5px;
	padding-right: 0;
	font-weight: bold;
}
.invoiceItems > div:first-child {
	padding-left:0;
}
.invoiceItems > div:last-child {
	text-align: right;
}
.invoiceItems > div.col-xs-8{
	width:72.6667%;
}
.invoiceItems > div.col-xs-2{
	width:10.6667%;
}

.loadingOverlay{
	background-color:#000;
	opacity: 0.5;
	border: 0 none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.loadingOverlay .spinner{
	color: #ffffff;
	font-size: 32px;
	font-weight: bold;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 50%;
	width: 185px;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide, body.ng-cloak {
	display: block;
}

header.navbar-inverse .navbar-brand{
	color:#EEE;
}
.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}

.tsList .panel-body{
	max-height: 250px;
	overflow-y: scroll;
}