<section data-ng-controller="InvoicesController" ng-init="createLanding()">
    <div class="page-header">
        <h1>{{action}} Invoice</h1>
    </div>
    <div class="col-xs-7">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
				<label class="form-group">Project
					<div class="controls">
						<ui-select ng-change="selectProject()" reset-search-input ng-model="invoice.project" model-key="invoice.project" theme="bootstrap" >
							<ui-select-match placeholder="Select One">{{$select.selected.vendor.name}} - {{$select.selected.client}} - {{$select.selected.user.displayName}}</ui-select-match>
							<ui-select-choices repeat="item._id as item in projects | filter: $select.search">
								<div ng-bind-html="item.vendor.name | highlight: $select.search"></div>
								<small ng-bind-html="item.user.displayName | highlight: $select.search"></small> -
								<small ng-bind-html="item.client | highlight: $select.search"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</label>
				<div class="row">
					<div class="col-xs-6">
						<label class="form-group input-group">From Date
							<div class="input-group" data-ng-controller="datepickerPopupCtrl">
								<input datepicker-popup="yyyy-MM-dd" ng-change="dateChange()" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="invoice.fromDate" class="form-control" placeholder="From Date">
								<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</label>
						<label class="form-group input-group">To Date
							<div class="input-group" data-ng-controller="datepickerPopupCtrl">
								<input datepicker-popup="yyyy-MM-dd" ng-change="dateChange()" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="invoice.toDate" class="form-control" placeholder="To Date">
								<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</label>
					</div>
					<div class="col-xs-6">
						<a ng-if="!hasHours" ng-click="fetchHours()" class="btn btn-primary fetchHoursBtn">Fetch Hours</a>
						<ul class="list-group clearfix" ng-if="hasHours">
							<li class="list-group-item" ng-repeat="(status,hours) in tsStatuses">{{status}}: {{hours}}</li>
							<li class="list-group-item" ><label>Total: {{tsTotal}}</label></li>
						</ul>
					</div>
				</div>

				<div class="form-group" ng-if="invoice.items && invoice.items.length">
					<div class="invoiceItems">
						<div class="col-xs-8">Description</div>
						<div class="col-xs-1">Rate</div>
						<div class="col-xs-1">Hours</div>
						<div class="col-xs-2">Total</div>
					</div>
					<div class="invoiceItems" ng-repeat="item in invoice.items">
						<div class="col-xs-8"><input ng-model="item.description" class="form-control"></div>
						<div class="col-xs-1"><input ng-model="item.rate" class="form-control"></div>
						<div class="col-xs-1"><input ng-model="item.hours" class="form-control"></div>
						<div class="col-xs-2">{{item.rate*item.hours}}</div>
					</div>
					<div class="clear">
						<b class="pull-right">Total {{getTotal()}}</b>
					</div>
				</div>

				<!-- div class="btn btn-primary" ng-click="addAndItem()">Add More Item</div -->
				<label class="form-group">Name/Invoice Number
					<div class="controls">
						<input type="text" data-ng-model="invoice.name" class="form-control" placeholder="Name">
					</div>
				</label>
				<label class="form-group">Bill To
					<div class="controls">
						<input type="text" data-ng-model="invoice.billTo" class="form-control" placeholder="Bill To">
					</div>
				</label>
				<label class="form-group">Consultant Name
					<div class="controls">
						<input type="text" data-ng-model="invoice.consultantName" class="form-control" placeholder="Consultant Name">
					</div>
				</label>
				<label class="form-group clear">Invoice Address
					<div class="controls">
						<input type="text" data-ng-model="invoice.invoiceAddress" class="form-control" placeholder="Invoice Address">
					</div>
				</label>

				<label class="form-group input-group">Invoice Date<div class="input-group" data-ng-controller="datepickerPopupCtrl">
					<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="invoice.invoiceDate" class="form-control" placeholder="Invoice Date">
					<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
				</label>
				<label class="form-group input-group">Due Date<div class="input-group" data-ng-controller="datepickerPopupCtrl">
					<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="invoice.dueDate" class="form-control" placeholder="Due Date">
					<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
				</label>
				<label class="form-group">Client
					<div class="controls">
						<input type="text" data-ng-model="invoice.client" class="form-control" placeholder="Client">
					</div>
				</label>
				<label class="form-group">Location
					<div class="controls">
						<input type="text" data-ng-model="invoice.location" class="form-control" placeholder="Location">
					</div>
				</label>
				<label class="form-group">Sent To
					<div class="controls">
						<input type="text" data-ng-model="invoice.sentTo" class="form-control" placeholder="Sent To">
					</div>
				</label>
				<div class="form-group">
					<a ng-disabled="!hasHours" class="btn btn-primary" ng-click="previewInvoice()">Preview Invoice</a>
					<a ng-disabled="!hasHours" class="btn btn-primary" ng-click="previewInvoice('saveAndSend')">Download & Save Invoice</a><!-- send is disabled for now-->
					<a ng-disabled="!hasHours" class="btn btn-primary" ng-click="previewInvoice('save')">Save Without Sending</a>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>

	<div class="col-xs-5">
		Project & Timesheet Details
		<ul class="list-group clearfix" ng-if="project">
			<li class="list-group-item">Consultant: <label>{{project.user.displayName}}</label></li>
			<li class="list-group-item">Vendor Name: <label>{{project.vendor.name}}</label></li>
			<li class="list-group-item">Client Name: <label>{{project.client}}</label></li>
			<li class="list-group-item">Start Date: {{project.startDate | date}}</li>
			<li class="list-group-item">End Date: {{project.endDate | date}}</li>
			<li class="list-group-item">Rate:
				<div ng-repeat="rate in project.rate | orderBy:'date':'reverse' ">
					{{rate.rate | currency}} effective from {{ rate.effectiveDate | date}}
				</div>
			</li>
			<li class="list-group-item">Invoice Cycle: {{project.invoiceCycle}}</li>
			<li class="list-group-item" ng-if="project.invoiceCycle === 'Weekly'">Invoice Start Day: {{project.invoiceWeekStartDay}}</li>
			<li class="list-group-item" ng-if="project.invoiceCycle === 'Bi-Weekly'">Invoice Start Day: {{project.invoiceWeekStartDay | date}}</li>
		</ul>
		<div ng-if="project.invoices.length">
			Recent Invoices
			<ul class="list-group clearfix">
				<li class="list-group-item" ng-repeat="invoice in project.invoices">{{invoice.name}} - {{invoice.fromDate | date}} to {{invoice.toDate | date}} - {{invoice.total | currency}}</li>
			</ul>
		</div>
	</div>
</section>