<section data-ng-controller="InvoicesController" class="invoicePage" data-ng-init="findOne()">

	<style>
		.invoicePage{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			color: #000;
			margin:0 auto;
			width: 800px;
		}
		.invoicePage .ralign{
			text-align: right;
		}
		.invoicePage .invoiceHeadLabel{
			font-size: 30px;
			font-weight: bold;
			color: #666;
		}
		.invoicePage table{
			width: 100%;
		}
		.invoicePage td{
			vertical-align: top;
			white-space: nowrap;
		}
		.invoicePage th{
			background: #ccc;
			padding: 5px;
		}
	</style>

	<div class="ralign invoiceHeadLabel">
		INVOICE
	</div>
	<table>
		<tr>
			<td width="100%">
				<img src="/logo.png" width="150px" height="70px" />
				<!--div>
					{{company.name}}<br>
					{{company.address.line1}}, {{company.address.line2}}<br>
					{{company.address.city}}, {{company.address.state}} {{company.address.zip}}<br>
					Phone: {{company.address.phone}}<br>
				</div-->
			</td>
			<td width="0%">
				<table>
					<tr>
						<td>Date:</td><td>{{invoice.invoiceDate|date}}</td>
					</tr>
					<tr>
						<td>Invoice #</td><td>{{invoice.name}}</td>
					</tr>
					<tr>
						<td>Due Date:</td><td>{{invoice.dueDate|date}}</td>
					</tr>
					<tr>
						<td>Bill To:</td><td>{{invoice.billTo}}</td>
					</tr>
					<tr>
						<td>&nbsp;</td><td>San Fransisco, CA</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Consultant Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>Maulik Soni</td>
					</tr>
					<tr>
						<td>Client:</td><td>JPMorgan Chase</td>
					</tr>
					<tr>
						<td>Location:</td><td>San Fransisco, CA</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<table>
		<thead>
		<tr>
			<th>Description</th>
			<th>Rate</th>
			<th>Hours</th>
			<th>Total</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Consulting: 01/12/2014 to 01/12/2014</td>
			<td>30</td>
			<td>120</td>
			<td>$4,230</td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>Total</td>
			<td>$4,230</td>
		</tr>
		</tbody>
	</table>

	<h3>Status History:</h3>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="status in invoice.status | orderBy:effectiveDate">on {{status.effectiveDate | date}} marked as {{status.status}} </li>
	</ul>

	<div ng-hide="statusBtnEnabled" ng-click="statusBtnEnabled=true" class="btn btn-primary">Change status or (re)send invoice</div>

	<div ng-if="statusBtnEnabled">
		<br><br>
		<div class="btn btn-primary" ng-click="markInvoice('Sent')">Mark as Sent</div>
		<div class="btn btn-primary" ng-click="markInvoice('Paid')">Mark as Paid</div>
		<div class="btn btn-primary" ng-click="markInvoice('Cancelled')">Mark as Cancelled</div>
		<!-- div class="btn btn-primary" ng-click="markInvoice('Sent')">Send Invoice</div -->
	</div>

	<br><br>
	Coming soon Support for partial payment and payment history

	<!--div class="pull-right" >
		<a class="btn btn-primary" href="/#!/invoices/{{invoice._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div -->


</section>