<div class="fieldset arrayField">
	<div class="form-group">
		<label>{{title}}</label>
		<table>
			<tr>
				<th ng-if="data && data.length" ng-repeat="field in fields" >{{field.name|uppercase}}</th>
			</tr>
			<tr ng-repeat="item in data">
				<td ng-repeat="field in fields" >
                    <select ng-if="field.list" ng-model="item[field.name]" ng-options="list.test as (list.text) for list in lists[field.list]">
                        <option value="">Please select</option>
                    </select>
					<div ng-if="!field.list" ng-switch="field.type">


							<div ng-switch-when="date" class="input-group" data-ng-controller="datepickerPopupCtrl">
								<input ng-focus="toggleOpen($event)" datepicker-popup="yyyy-MM-dd" is-open="opened" close-text="Close"  type="date" data-ng-model="item[field.name]" class="form-control" placeholder="{{field.name}}" />
								<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>

						<input ng-switch-default   type="text" data-ng-model="item[field.name]" class="form-control" placeholder="{{field.name}}" />

					</div>

				</td>
                <td>
                    <span class="removeBtn glyphicon glyphicon-remove-circle" ng-click="removeItem($index)"></span>
                </td>
			</tr>
		</table>
		<button type="button" class="addBtn" ng-click="addItem()" id="addBtn">Add {{title}}</button>
	</div>
</div>