<section data-ng-controller="CompaniesController" data-ng-init="findOne()">
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/companies/{{company._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
	</div>
	<div class="page-header">
		<h1>Company Details</h1>
	</div>
	<ul class="list-group clearfix">
		<li ng-repeat="(key,val) in company" class="list-group-item" ng-if="key!=='logo'">{{key}}: <label>{{val}}</label></li>
		<li ng-if="company.logo"><img ng-src="data:{{company.logo.mime}};base64,{{company.logo.data}}"></li>
	</ul>
</section>